* {
  margin: 0;
}
body{
  background-color: rgba(0, 0, 0, 0.975);
}
.nav {
  display: flex;
  background-color: aliceblue;
  align-items: center;
  height: 60px;
  font-family: "mv";
}
.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "mv";
  src: url(./Kugile_Demo.ttf);
}
.logo {
  margin-left: 200px;
font-weight: 700;
  display: inline-flex;
}
.links {
  display: flex;
font-weight: 400;
  gap: 20px;
  margin-left: 60%;
}
a {
  text-decoration: none;
}
@media (max-width: 768px) {
    
   .nav{
    flex-direction: column;
    flex-wrap: wrap;
   }
   .logo{
    margin-left: 10px;
   }
   .links{
    margin-left: 10px;
    margin-top: 10px;
   }
}



body {
    font-family: Arial, sans-serif;
  }
  
  .main-container {
    padding: 20px;
  }
  
  .genre-list {
    padding: 20px;
    margin-bottom: 40px;
    background:  #081b087b ;
  border-radius:5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  }
  
  .genre-list h3 {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    font-family: "Limelight";
    color: blueviolet;

  }
  

  .movies-container {
    display: flex;
    overflow-x: auto;

    padding-bottom: 10px;
    scroll-behavior: smooth;
  }
  
  .movie-item {
    flex: 0 0 auto;
    width: 150px; 
    margin-right: 10px;
    text-align: center;
  }
  
  .cover img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .movie-name {
    margin-top: 5px;
    color:antiquewhite;
    font-size: 14px; 
  }
  

  .movies-container::-webkit-scrollbar {
    display: none;
  }
  
  .movies-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
    